### Intro to taxi trip data

The taxicabs of New York City come in two varieties: yellow and green.

Taxis painted canary __yellow__ (medallion taxis) are able to pick up passengers *__anywhere__ in the five boroughs.* 

Those painted apple __green__ (street hail livery vehicles,or commonly known as boro taxis), which began to appear in August 2013, are *allowed to pick up passengers in __Upper Manhattan__, the Bronx, Brooklyn, Queens (excluding LaGuardia Airport and John F. Kennedy International Airport), and Staten Island.*

--from wiki['Taxicabs of New York City'](https://en.wikipedia.org/wiki/Taxicabs_of_New_York_City)--

In [1]:
import pandas as pd
import numpy as np

### Data set
We will use 

    `Yellow Taxi Trip Data from 2010 to 2015` 
    `Green Taxi Trip Data from 2013 to 2014`
    
    
which are accessible through __NYC OpenData__:

[2010 Yellow Taxi Trip Data](https://data.cityofnewyork.us/Transportation/2010-Yellow-Taxi-Trip-Data/ry9a-ubra)
168,994,353 rows

[2011 Yellow Taxi Trip Data](https://data.cityofnewyork.us/Transportation/2011-Yellow-Taxi-Trip-Data/jr6k-xwua)
135,335,924 rows 

[2012 Yellow Taxi Trip Data](https://data.cityofnewyork.us/Transportation/2012-Yellow-Taxi-Trip-Data/fd5y-xikb)
167,331,308 rows

[2013 Yellow Taxi Trip Data](https://data.cityofnewyork.us/Transportation/2013-Yellow-Taxi-Trip-Data/7rnv-m532)
173,179,759 rows

[2013 Green Taxi Trip Data](https://data.cityofnewyork.us/Transportation/2013-Green-Taxi-Trip-Data/ghpb-fpea)
about 1.21M rows

[2014 Yellow Taxi Trip Data](https://data.cityofnewyork.us/Transportation/2015-Yellow-Taxi-Trip-Data/ba8s-jw6u)
165,114,361 rows

[2014 Green Taxi Trip Data](https://data.cityofnewyork.us/Transportation/2014-Green-Taxi-Trip-Data/2np7-5jsg)
about 15.8M rows

The total data size for five years is too big to be handled by our computer, so we decided to take a subset - sample - based on the payment related criteria. 

The subset sampleing criteria:

For all data, we will only consider trip records - rows - provided by **[VeriFone, inc.](http://www.verifone.com/industries/taxi/)**- one of major companies that provides taxi payment system. These records are marked as `VTS` on `vendorid` (or `vendor_id`) column. 

For each year, we will sample 100,000 records. Among the 100,000 sample, 50% will be cash payment records and the other 50% will be credit payment record. For the years 2013 and 2014, we will adjust the sampling size of yellow taxi and green taxi for each year, so that the size are proportional to their number of total rows per sum of yellow rows and green rows.  

The total size of our subset data - sample for our taxi data set - will be ** 500,000 ** rows. (= 100,000 rows * 5 years)

### 1. Read in yellow taxi trip data

In [2]:
# source urls for yellow taxi trip data in NYC between 2010 and 2014 
source = ['https://data.cityofnewyork.us/resource/74wj-s5ij.json', #[0] 2010 yellow taxi
          'https://data.cityofnewyork.us/resource/uwyp-dntv.json', #[1] 2011 yellow taxi
          'https://data.cityofnewyork.us/resource/kerk-3eby.json', #[2] 2012 yellow taxi
          'https://data.cityofnewyork.us/resource/t7ny-aygi.json', #[3] 2013 yellow taxi
          'https://data.cityofnewyork.us/resource/h4pe-ymjc.json', #[4] 2013 green taxi
          'https://data.cityofnewyork.us/resource/gkne-dk5s.json', #[5] 2014 yellow taxi
          'https://data.cityofnewyork.us/resource/7j25-xd5y.json'] #[6] 2014 green taxi

In [3]:
# read 2010 yellow taxi data
YTD_10_CRD = source[0] + '?vendorid=VTS&payment_type=CRD&$limit=50000'
YTD_10_CSH = source[0] + '?vendorid=VTS&payment_type=CSH&$limit=50000'
Y10CRD = pd.read_json(YTD_10_CRD)  # 50,000 rows
Y10CSH = pd.read_json(YTD_10_CSH)  # 50,000 rows
taxi_data_10 = Y10CRD.append(Y10CSH)
print(taxi_data_10.shape) # 100,000 rows

(100000, 19)

In [4]:
# read 2011 yellow taxi data
YTD_11_CRD = source[1] + '?vendorid=VTS&payment_type=CRD&$limit=50000'
YTD_11_CSH = source[1] + '?vendorid=VTS&payment_type=CSH&$limit=50000'
Y11CRD = pd.read_json(YTD_11_CRD)  # 50,000 rows
Y11CSH = pd.read_json(YTD_11_CSH)  # 50,000 rows
taxi_data_11 = Y11CRD.append(Y11CSH)
print(taxi_data_11.shape) # 100,000 rows

(100000, 19)

In [5]:
# read 2012 yellow taxi data
YTD_12_CRD = source[2] + '?vendorid=VTS&payment_type=CRD&$limit=50000'
YTD_12_CSH = source[2] + '?vendorid=VTS&payment_type=CSH&$limit=50000'
Y12CRD = pd.read_json(YTD_12_CRD)  # 50,000 rows
Y12CSH = pd.read_json(YTD_12_CSH)  # 50,000 rows
taxi_data_12 = Y12CRD.append(Y12CSH)
print(taxi_data_12.shape) # 100,000 rows

(100000, 19)

Read 2013 data from both yellow taxi source and green taxi source.

In [6]:
# for 2013 samples, 

# read 93,520 rows from yellow taxi, then
YTD_13_CRD = source[3] + '?vendorid=VTS&payment_type=CRD&$limit=46760'
YTD_13_CSH = source[3] + '?vendorid=VTS&payment_type=CSH&$limit=46760'
Y13CRD = pd.read_json(YTD_13_CRD)  # 46,760 rows
Y13CSH = pd.read_json(YTD_13_CSH)  # 46,760 rows
yellow13 = Y13CRD.append(Y13CSH)
print(yellow13.shape) # 93,520 rows

(93520, 19)

In [7]:
# read the rest 6,480 rows from green taxi
GTD_13_CRD = source[4] + '?vendorid=2&payment_type=1&$limit=3240'
GTD_13_CSH = source[4] + '?vendorid=2&payment_type=2&$limit=3240'
G13CRD = pd.read_json(GTD_13_CRD)  # 3,240 rows
G13CSH = pd.read_json(GTD_13_CSH)  # 3,240 rows
green13 = G13CRD.append(G13CSH)
print(green13.shape) # 6,480 rows => total 100,000 rows for 2013

(6480, 19)

Read 2014 data from both yellow taxi source and green taxi source.

In [8]:
# for 2014 samples, 

# read 91,266 rows from yellow taxi, then
YTD_14_CRD = source[5] + '?vendor_id=VTS&payment_type=CRD&$limit=45633'
YTD_14_CSH = source[5] + '?vendor_id=VTS&payment_type=CSH&$limit=45633'
Y14CRD = pd.read_json(YTD_14_CRD)  # 45,633 rows
Y14CSH = pd.read_json(YTD_14_CSH)  # 45,633 rows
yellow14 = Y14CRD.append(Y14CSH)
print(yellow14.shape) # 91,266 rows

(91266, 17)

In [9]:
# read the rest 8,734 rows from green taxi
GTD_14_CRD = source[6] + '?vendorid=2&payment_type=1&$limit=4367'
GTD_14_CSH = source[6] + '?vendorid=2&payment_type=2&$limit=4367'
G14CRD = pd.read_json(GTD_14_CRD)  # 4,367 rows
G14CSH = pd.read_json(GTD_14_CSH)  # 4,367 rows
green14 = G14CRD.append(G14CSH)
print(green14.shape) # 8,734 rows => total 100,000 rows for 2014

(8734, 19)

### 2. Preprocess the taxi data
** 1) Fix different column names. **

The columns in the *Green taxi data-set* contains columns that are identical to the columns in yellow taxi dataset but with different column name; so we want to make sure that the column names are the same so that we can append the the two data frames

In [10]:
# observe the difference in column names of yellow taxi data and green taxi data
def see_column_name_diffs():
    yellow_cols13 = yellow13.columns.values.tolist()
    green_cols13 = green13.columns.values.tolist()

    diff_cols1 = list(set(yellow_cols13) - set(green_cols13))
    diff_cols2 = list(set(green_cols13) - set(yellow_cols13))

    yellow_cols14 = yellow14.columns.values.tolist()
    green_cols14 = green14.columns.values.tolist()

    diff_cols3 = list(set(yellow_cols14) - set(green_cols14))
    diff_cols4 = list(set(green_cols14) - set(yellow_cols14))

    print("= Difference in 2013 dataset =")
    print("\nYellow - Green: \n\n", diff_cols1)
    print("\nGreen - Yellow: \n\n", diff_cols2)
    print("\n= Difference in 2014 dataset =")
    print("\nYellow - Green: \n\n", diff_cols3)
    print("\nGreen - Yellow: \n\n", diff_cols4)
    
see_column_name_diffs()

= Difference in 2013 dataset =

Yellow - Green:

 ['tpep_dropoff_datetime', 'dropoff_location', 'pickup_location', 'tpep_pickup_datetime']

Green - Yellow:

 ['lpep_dropoff_datetime', 'trip_type', 'store_and_fwd_flag', 'lpep_pickup_datetime']

= Difference in 2014 dataset =

Yellow - Green:

 ['vendor_id', 'imp_surcharge', 'pickup_datetime', 'rate_code', 'dropoff_datetime']

Green - Yellow:

 ['lpep_dropoff_datetime', 'vendorid', 'trip_type', 'store_and_fwd_flag', 'extra', 'lpep_pickup_datetime', 'ratecodeid']

In [11]:
# list the dataset to match column names 
taxi_data_list = [yellow13, green13, yellow14, green14]

# match column names for the useful columns 
for i in range(len(taxi_data_list)):
    for j in taxi_data_list[i].columns.values:
        if j == 'lpep_dropoff_datetime' or j == 'tpep_dropoff_datetime':
            taxi_data_list[i].rename(columns={j: 'dropoff_datetime' }, inplace=True)
            
        if j == 'lpep_pickup_datetime'   or j == 'tpep_pickup_datetime':
            taxi_data_list[i].rename(columns={j: 'pickup_datetime' }, inplace=True)

In [12]:
# confirm the change
see_column_name_diffs()

= Difference in 2013 dataset =

Yellow - Green:

 ['dropoff_location', 'pickup_location']

Green - Yellow:

 ['trip_type', 'store_and_fwd_flag']

= Difference in 2014 dataset =

Yellow - Green:

 ['vendor_id', 'rate_code', 'imp_surcharge']

Green - Yellow:

 ['trip_type', 'ratecodeid', 'store_and_fwd_flag', 'vendorid', 'extra']

**2) Make the data set contain only the columns we need.**

In [13]:
# filter the columns 
def needed_col(dataset):
    cols = ['dropoff_latitude', 'dropoff_longitude','dropoff_datetime' , 'pickup_datetime',
            'pickup_latitude','pickup_longitude','tip_amount','trip_distance']
    refined_data = pd.DataFrame(dataset, columns = cols)
    return (refined_data)

taxi_data_10 = needed_col(taxi_data_10)
taxi_data_11 = needed_col(taxi_data_11)
taxi_data_12 = needed_col(taxi_data_12)
yellow13 = needed_col(yellow13)
green13 = needed_col(green13)
yellow14 = needed_col(yellow14)
green14 = needed_col(green14)

# test one
taxi_data_10.columns

Index(['dropoff_latitude', 'dropoff_longitude', 'dropoff_datetime',
       'pickup_datetime', 'pickup_latitude', 'pickup_longitude', 'tip_amount',
       'trip_distance'],
      dtype='object')

**3) Append the green taxi dataset to yellow taxi dataset for 2013 and 2014.**

In [14]:
taxi_data_13 = yellow13.append(green13)
print(taxi_data_13.shape) #(100000, 8) 

taxi_data_14 = yellow14.append(green14)
print(taxi_data_14.shape) #(100000, 8)

(100000, 8)
(100000, 8)

**Write the preprocessed taxi data into csv files.**

In [15]:
# write to csv file
taxi_data_10.to_csv('taxi_data_csv_files/taxi_data_10.csv')
taxi_data_11.to_csv('taxi_data_csv_files/taxi_data_11.csv')
taxi_data_12.to_csv('taxi_data_csv_files/taxi_data_12.csv')
taxi_data_13.to_csv('taxi_data_csv_files/taxi_data_13.csv')
taxi_data_14.to_csv('taxi_data_csv_files/taxi_data_14.csv')