# INSTRUCTIONS:
#### Install plotly you would need in Geo Map subplots as part of our presentation 
*you can read on it via this link*  https://plot.ly/api/


# URLS for the project

## Neighborhood Data-Set:

#### https://www.huduser.gov/portal/datasets/fmr/smallarea/index.html

## Taxi Data-Set:

#### https://data.cityofnewyork.us/resource/74wj-s5ij.json (2010)  Yellow taxi
#### https://data.cityofnewyork.us/resource/uwyp-dntv.json (2011) Yellow taxi
#### https://data.cityofnewyork.us/resource/kerk-3eby.json (2012) Yellow taxi
#### https://data.cityofnewyork.us/resource/t7ny-aygi.json (2013) Yellow taxi
#### https://data.cityofnewyork.us/resource/gkne-dk5s.json (2014) Yellow taxi
#### https://data.cityofnewyork.us/resource/7j25-xd5y.json (2014) Green taxi

In [81]:
%matplotlib inline 
import pandas as pd
import requests 
from io import StringIO
from io import BytesIO
import numpy as np
import matplotlib.pyplot as plt
import plotly.plotly as py

In [82]:
urls  = [        'https://data.cityofnewyork.us/resource/7j25-xd5y.json',
                 'https://data.cityofnewyork.us/resource/uwyp-dntv.json',
                 'https://data.cityofnewyork.us/resource/kerk-3eby.json',
                 'https://data.cityofnewyork.us/resource/t7ny-aygi.json',
                 'https://data.cityofnewyork.us/resource/gkne-dk5s.json',
                 'https://data.cityofnewyork.us/resource/7j25-xd5y.json ']

def year_url(url):
    query    = (url)
    raw_data = pd.read_json(query)
    return (raw_data)
data_010 = year_url(urls[0])
data_011 = year_url(urls[1])
data_012 = year_url(urls[2])
data_013 = year_url(urls[3])
data_014 = year_url(urls[4])

#cleaning the data-set for the green-taxi 2014 since its diff attributes with the yellow taxi
cols = ['dropoff_latitude', 'dropoff_longitude','lpep_dropoff_datetime','lpep_pickup_datetime','pickup_latitude',
        'pickup_longitude','tip_amount','trip_distance']
green_014 = pd.DataFrame(year_url(urls[5]), columns = cols)


#save the data in array inorder to modify some attributes 
processed_data = [data_010,data_011,data_012,data_013,data_014,green_014]





#there some columns in our yellow taxi data-set that contains the same data we need but diff column name
#fix for it
for i in range(len(processed_data)):
    for j in processed_data[i].columns.values:
        if j == 'lpep_dropoff_datetime' or j == 'tpep_dropoff_datetime':
            processed_data[i].rename(columns={j: 'dropoff_datetime' }, inplace=True)
            
        if j == 'lpep_pickup_datetime'   or j == 'tpep_pickup_datetime':
            processed_data[i].rename(columns={j: 'pickup_datetime' }, inplace=True)
            
            
#cleaning other yellow taxi data-set so that it only contains the columns we need
def needed_col(data):
    cols_y = ['dropoff_latitude', 'dropoff_longitude','dropoff_datetime' , 'pickup_datetime',
              'pickup_latitude','pickup_longitude','tip_amount','trip_distance']
    refine_data = pd.DataFrame(data, columns = cols_y)
    return (refine_data)
y_data_010 = needed_col(data_010)
y_data_011 = needed_col(data_011)
y_data_012 = needed_col(data_012)
y_data_013 = needed_col(data_013)
y_data_014 = needed_col(data_014)
green_014.head()

,dropoff_latitude,dropoff_longitude,dropoff_datetime,pickup_datetime,pickup_latitude,pickup_longitude,tip_amount,trip_distance
0,40.813202,-73.945152,0008-01-10T20:50:52.000,0008-01-10T20:44:53.000,40.822823,-73.938164,0.0,1.07
1,40.723186,-73.942223,0011-01-03T20:02:34.000,0011-01-03T19:57:48.000,40.729080,-73.953835,2.0,1.10
2,40.634247,-74.025093,0028-01-06T00:23:00.000,0028-01-06T00:00:03.000,40.684532,-73.978569,0.0,6.09
3,40.759521,-73.778999,0016-01-01T21:48:51.000,0016-01-01T21:38:35.000,40.759911,-73.829147,0.0,2.98
4,40.709873,-74.014717,0001-01-11T01:43:23.000,0001-01-11T01:14:08.000,40.721851,-73.950264,0.0,5.70

In [83]:
y_data_010.head()

,dropoff_latitude,dropoff_longitude,dropoff_datetime,pickup_datetime,pickup_latitude,pickup_longitude,tip_amount,trip_distance
0,40.813202,-73.945152,0008-01-10T20:50:52.000,0008-01-10T20:44:53.000,40.822823,-73.938164,0.0,1.07
1,40.723186,-73.942223,0011-01-03T20:02:34.000,0011-01-03T19:57:48.000,40.729080,-73.953835,2.0,1.10
2,40.634247,-74.025093,0028-01-06T00:23:00.000,0028-01-06T00:00:03.000,40.684532,-73.978569,0.0,6.09
3,40.759521,-73.778999,0016-01-01T21:48:51.000,0016-01-01T21:38:35.000,40.759911,-73.829147,0.0,2.98
4,40.709873,-74.014717,0001-01-11T01:43:23.000,0001-01-11T01:14:08.000,40.721851,-73.950264,0.0,5.70

In [84]:
y_data_011.head()

,dropoff_latitude,dropoff_longitude,dropoff_datetime,pickup_datetime,pickup_latitude,pickup_longitude,tip_amount,trip_distance
0,40.724422,-73.994383,2011-06-21T22:14:00.000,2011-06-21T22:03:00.000,40.707625,-74.001553,0.00,1.49
1,40.711134,-74.016117,2011-08-08T23:57:45.000,2011-08-08T23:49:24.000,40.740509,-74.005630,0.00,2.50
2,0.000000,0.000000,2011-09-15T03:58:54.000,2011-09-15T03:54:48.000,0.000000,0.000000,1.89,1.20
3,40.748888,-73.975833,2011-07-19T10:19:00.000,2011-07-19T10:08:00.000,40.747892,-73.988863,0.00,0.96
4,40.744913,-73.945500,2011-08-31T14:05:00.000,2011-08-31T13:46:00.000,40.751040,-73.945000,0.00,3.06

In [85]:
y_data_012.head()

,dropoff_latitude,dropoff_longitude,dropoff_datetime,pickup_datetime,pickup_latitude,pickup_longitude,tip_amount,trip_distance
0,40.770407,-73.986893,2012-06-25T20:47:00.000,2012-06-25T20:39:00.000,40.767928,-73.962740,1.0,1.70
1,40.713845,-73.997867,2012-08-11T21:44:00.000,2012-08-11T21:35:00.000,40.751447,-73.975002,0.0,1.42
2,40.727895,-73.993357,2012-02-24T06:51:48.000,2012-02-24T06:38:22.000,40.763360,-73.992565,1.0,3.20
3,40.780051,-73.956726,2012-04-26T21:36:11.000,2012-04-26T21:33:14.000,40.772920,-73.958413,0.0,0.60
4,40.762655,-74.001242,2012-06-29T09:06:31.000,2012-06-29T08:56:26.000,40.762923,-73.982564,0.0,1.30

In [86]:
y_data_013.head()

,dropoff_latitude,dropoff_longitude,dropoff_datetime,pickup_datetime,pickup_latitude,pickup_longitude,tip_amount,trip_distance
0,40.761542,-73.976697,2013-01-28T10:23:00.000,2013-01-28T10:20:00.000,40.762452,-73.978110,0.00,0.26
1,40.715045,-74.016115,2013-06-17T14:37:14.000,2013-06-17T14:32:06.000,40.712108,-74.010500,0.00,0.50
2,40.760480,-73.971565,2013-05-01T07:57:00.000,2013-05-01T07:40:00.000,40.737210,-73.996870,2.60,2.70
3,40.668347,-73.980303,2013-10-30T20:02:12.000,2013-10-30T19:41:24.000,40.725030,-74.005473,5.45,5.80
4,40.763215,-73.974433,2013-03-04T11:52:00.000,2013-03-04T11:44:00.000,40.751745,-73.986142,0.00,1.19

In [87]:
y_data_014.head()

,dropoff_latitude,dropoff_longitude,dropoff_datetime,pickup_datetime,pickup_latitude,pickup_longitude,tip_amount,trip_distance
0,40.770192,-73.918685,2014-09-20T01:59:00.000,2014-09-20T01:33:00.000,40.735232,-73.991880,0.0,6.27
1,40.767192,-73.971332,2014-05-19T10:43:00.000,2014-05-19T10:35:00.000,40.772880,-73.981728,0.0,0.82
2,40.760112,-73.972257,2014-05-07T07:05:17.000,2014-05-07T06:55:34.000,40.777891,-73.952068,2.0,1.90
3,40.773650,-73.963809,2014-03-25T19:54:10.000,2014-03-25T19:50:35.000,40.772541,-73.958471,0.0,0.30
4,40.749665,-73.991557,2014-07-07T16:12:00.000,2014-07-07T16:00:00.000,40.761137,-73.977500,0.0,1.34

In [88]:
#append the yellow taxi data-set with the green taxi data-set for 2014
y_data_014.append(green_014)
y_data_014.head()

,dropoff_latitude,dropoff_longitude,dropoff_datetime,pickup_datetime,pickup_latitude,pickup_longitude,tip_amount,trip_distance
0,40.770192,-73.918685,2014-09-20T01:59:00.000,2014-09-20T01:33:00.000,40.735232,-73.991880,0.0,6.27
1,40.767192,-73.971332,2014-05-19T10:43:00.000,2014-05-19T10:35:00.000,40.772880,-73.981728,0.0,0.82
2,40.760112,-73.972257,2014-05-07T07:05:17.000,2014-05-07T06:55:34.000,40.777891,-73.952068,2.0,1.90
3,40.773650,-73.963809,2014-03-25T19:54:10.000,2014-03-25T19:50:35.000,40.772541,-73.958471,0.0,0.30
4,40.749665,-73.991557,2014-07-07T16:12:00.000,2014-07-07T16:00:00.000,40.761137,-73.977500,0.0,1.34

In [89]:
lat = raw_data.pickup_latitude.values
long = raw_data.pickup_longitude.values