# Brooklyn Rent And Income Of 4 Years Period (2011-2014) By Zip Codes

In [7]:
# special IPython command to prepare the notebook for matplotlib
# Render our plots inline
%matplotlib inline

%matplotlib inline 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#added this because it's indicated as useful but not imported
import urllib
from zipfile import ZipFile
from io import BytesIO
import os
import json
from bs4 import BeautifulSoup as bs
import re

from matplotlib import animation, rc
from IPython.display import display, HTML
import sys
import urllib
import urllib.request
from urllib.request import urlretrieve

pd.set_option('display.mpl_style', 'default') # Make the graphs a bit prettier
plt.rcParams['figure.figsize'] = (15, 5)

/home/stuff/anaconda3/envs/DataScience-Project/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2885: FutureWarning:
mpl_style had been deprecated and will be removed in a future version.
Use `matplotlib.pyplot.style.use` instead.

  exec(code_obj, self.user_global_ns, self.user_ns)

Reading Income file from data files

In [8]:
income_df = pd.read_csv('data/incomeDF.csv',index_col=0, keep_default_na=False, na_values=[""])

bk_rent_14 = pd.read_csv('data/Brooklyn_Rent_14.csv',keep_default_na=False, na_values=[""],index_col=0)
bk_rent_14.reset_index(drop=True, inplace=True)

bk_rent_13 = pd.read_csv('data/Brooklyn_Rent13.csv',keep_default_na=False, na_values=[""],index_col=0)
bk_rent_13.reset_index(drop=True, inplace=True)

bk_rent_12 = pd.read_csv('data/Brooklyn_Rent12.csv',keep_default_na=False, na_values=[""],index_col=0)
bk_rent_12.reset_index(drop=True, inplace=True)

bk_rent_11 = pd.read_csv('data/Brooklyn_Rent11.csv',keep_default_na=False, na_values=[""],index_col=0)
bk_rent_11.reset_index(drop=True, inplace=True)

income_df.reset_index(drop=True, inplace=True)

In [9]:
bk_rent_14.head()

,StateName,CountyName,rent0,rent1,rent2,rent3,rent4,ZIP,Rent_Mean,year
0,New York,Kings County,1540,1610,1910,2480,2930,11201,2094.0,2014
1,New York,Kings County,1070,1110,1320,1720,2020,11202,1448.0,2014
2,New York,Kings County,1000,1050,1240,1610,1900,11203,1360.0,2014
3,New York,Kings County,1070,1110,1320,1720,2020,11204,1448.0,2014
4,New York,Kings County,1260,1320,1560,2030,2390,11205,1712.0,2014

Function test_function returns a dataframe of income per year

In [10]:
def test_function(df,year):
    if year == 2014:
        df[df.year] = 2014 
    elif year == 2013:
        df[df.year] = 2013
    elif year == 2012:
        df[df.year] = 2012
    elif year == 2011:
        df[df.year] = 2011
    else:
        return
    return df

In [11]:
# place the DataFrames side by side
#merging income and rent for 2014
income_rent_14 = pd.merge(test_function(income_df,2014),bk_rent_14,how = "inner", on =['ZIP', 'year'])

In [12]:
income_rent_14.head()

,total,0,10,15,20,25,30,35,40,45,...,ZIP,year,StateName,CountyName,rent0,rent1,rent2,rent3,rent4,Rent_Mean
0,24889,1419,901,650,899,571,700,686,671,551,...,11201,2014,New York,Kings County,1540,1610,1910,2480,2930,2094.0
1,27164,2998,1514,1423,1529,1459,1335,1588,1414,1152,...,11203,2014,New York,Kings County,1000,1050,1240,1610,1900,1360.0
2,24873,1971,1744,2081,1584,1519,1170,898,1344,968,...,11204,2014,New York,Kings County,1070,1110,1320,1720,2020,1448.0
3,15090,1886,1157,935,841,916,610,550,527,394,...,11205,2014,New York,Kings County,1260,1320,1560,2030,2390,1712.0
4,28980,5046,3051,2566,1990,1604,1703,1221,1274,1269,...,11206,2014,New York,Kings County,900,940,1110,1440,1700,1218.0

In [13]:
income_rent_14.to_csv('data/BK_merged_14.csv')

In [14]:
income_rent_13 = pd.merge(test_function(income_df,2013),bk_rent_13,how = "inner", on =['ZIP', 'year'])
income_rent_13.to_csv('data/BK_merged_13.csv')

In [15]:
income_rent_12 = pd.merge(test_function(income_df,2012),bk_rent_12,how = "inner", on =['ZIP', 'year'])
income_rent_12.to_csv('data/BK_merged_12.csv')

In [16]:
income_rent_11 = pd.merge(test_function(income_df,2011),bk_rent_11,how = "inner", on =['ZIP', 'year'])
income_rent_11.to_csv('data/BK_merged_11.csv')

In [29]:
bk_rent_11["StateName"] = "New York"
bk_rent_11["state"] = 36.0

In [30]:
rentDF = bk_rent_14
rentDF = rentDF.append(bk_rent_13, ignore_index=True)
rentDF = rentDF.append(bk_rent_12, ignore_index=True)
rentDF = rentDF.append(bk_rent_11, ignore_index=True)
rentDF.to_csv('data/BK_rent')

In [31]:
rentDF.head()

,CountyName,Rent_Mean,StateName,ZIP,rent0,rent1,rent2,rent3,rent4,state,year
0,Kings County,2094.0,New York,11201,1540,1610,1910,2480,2930,NaN,2014
1,Kings County,1448.0,New York,11202,1070,1110,1320,1720,2020,NaN,2014
2,Kings County,1360.0,New York,11203,1000,1050,1240,1610,1900,NaN,2014
3,Kings County,1448.0,New York,11204,1070,1110,1320,1720,2020,NaN,2014
4,Kings County,1712.0,New York,11205,1260,1320,1560,2030,2390,NaN,2014

In [32]:
merged = pd.merge(income_df,rentDF,how = "inner", on =['ZIP', 'year'])
merged.head()

,total,0,10,15,20,25,30,35,40,45,...,year,CountyName,Rent_Mean,StateName,rent0,rent1,rent2,rent3,rent4,state
0,23254,1656,706,618,710,403,643,596,686,547,...,2011,Kings County,1960.0,New York,1530,1630,1840,2280,2520,36.0
1,27145,2740,1244,1525,1486,1352,1158,1397,1453,1449,...,2011,Kings County,1334.0,New York,1040,1110,1250,1550,1720,36.0
2,24979,1939,1920,1705,1564,1580,1373,1333,1223,1038,...,2011,Kings County,1374.0,New York,1070,1140,1290,1600,1770,36.0
3,14033,2131,1017,874,866,659,614,488,570,324,...,2011,Kings County,1502.0,New York,1170,1250,1410,1750,1930,36.0
4,27668,5551,2800,2612,1950,1551,1643,1079,1405,1172,...,2011,Kings County,1334.0,New York,1040,1110,1250,1550,1720,36.0

In [33]:
merged.to_csv("data/BK_merged.csv")