In [1]:
# special IPython command to prepare the notebook for matplotlib
%matplotlib inline 

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
from shapely import geometry as geom
import plotly.plotly as py

#added this because it's indicated as useful but not imported
import urllib
from zipfile import ZipFile
from io import BytesIO
import os
import json
from bs4 import BeautifulSoup as bs
import re

from matplotlib import animation, rc
from IPython.display import display, HTML

In [2]:
QN_Trip11 = pd.read_csv('data/BK_Trips11.csv',keep_default_na=False, na_values=[""],index_col=0)
QN_Trip11.reset_index(drop=True, inplace=True)

QN_Trip12 = pd.read_csv('data/BK_Trips12.csv',keep_default_na=False, na_values=[""],index_col=0)
QN_Trip12.reset_index(drop=True, inplace=True)

QN_Trip13 = pd.read_csv('data/BK_Trips13.csv',keep_default_na=False, na_values=[""],index_col=0)
QN_Trip13.reset_index(drop=True, inplace=True)


QN_Trip14 = pd.read_csv('data/BK_Trips14.csv',keep_default_na=False, na_values=[""],index_col=0)
QN_Trip14.reset_index(drop=True, inplace=True)

QN_trips = [QN_Trip11,QN_Trip12,QN_Trip13,QN_Trip14]
Trips = pd.concat(QN_trips)

In [3]:
Trips.head()

   trips    ZIP  year
0     90  11221  2011
1    144  11216  2011
2     32  11233  2011
3     30  11213  2011
4     14  11212  2011

In [4]:
Trips.to_csv('data/BK_Trips.csv')

In [5]:
#income_df = pd.read_csv('data/incomeDF.csv',index_col=0, keep_default_na=False, na_values=[""])

In [6]:
def test_function(df,year):
    if year == 2014:
        df[df.year] = 2014 
    elif year == 2013:
        df[df.year] = 2013
    elif year == 2012:
        df[df.year] = 2012
    elif year == 2011:
        df[df.year] = 2011
    else:
        return
    return df

In [7]:
QN_Merged = pd.read_csv('data/BK_merged.csv',index_col=0, keep_default_na=False, na_values=[""])

In [8]:
QN_Merged.head()

,total,0,10,15,20,25,30,35,40,45,...,200,ZIP,year,State,CountyName,rent0,rent1,rent2,rent3,rent4
0,23254,1656,706,618,710,403,643,596,686,547,...,4975,11201,2011,36,Kings County,1530,1630,1840,2280,2520
1,27145,2740,1244,1525,1486,1352,1158,1397,1453,1449,...,566,11203,2011,36,Kings County,1040,1110,1250,1550,1720
2,24979,1939,1920,1705,1564,1580,1373,1333,1223,1038,...,573,11204,2011,36,Kings County,1070,1140,1290,1600,1770
3,14033,2131,1017,874,866,659,614,488,570,324,...,772,11205,2011,36,Kings County,1170,1250,1410,1750,1930
4,27668,5551,2800,2612,1950,1551,1643,1079,1405,1172,...,249,11206,2011,36,Kings County,1040,1110,1250,1550,1720

In [9]:
QN_Trips_Rent_Income = pd.merge(Trips,QN_Merged,how = "inner", on =['ZIP', 'year'])

In [10]:
QN_Trips_Rent_Income.head()

,trips,ZIP,year,total,0,10,15,20,25,30,...,125,150,200,State,CountyName,rent0,rent1,rent2,rent3,rent4
0,90,11221,2011,27089,4485,2010,1894,1755,1740,1188,...,901,693,228,36,Kings County,1040,1110,1250,1550,1720
1,144,11216,2011,22274,3253,1734,1255,1175,1273,1220,...,767,571,404,36,Kings County,1040,1110,1250,1550,1720
2,32,11233,2011,25595,5154,2182,1626,1274,1405,1226,...,808,536,518,36,Kings County,1040,1110,1250,1550,1720
3,30,11213,2011,23257,4364,2028,1668,1239,1487,1060,...,604,516,234,36,Kings County,1040,1110,1250,1550,1720
4,14,11212,2011,30024,6678,3026,2311,1908,2227,1770,...,401,465,175,36,Kings County,1040,1110,1250,1550,1720

In [11]:
QN_Trips_Rent_Income.to_csv('data/BK_final.csv')

In [12]:
len(QN_Trips_Rent_Income)

152